{% extends 'layout.html' %}
{% block body %}

<div style="height: 100vh;
width: 98vw;">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 .mx-auto align-items-center">
            <div  class="card card-body">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages%}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
                <fieldset>
                    <form action="/new-user", method="POST">
                        <p style="font-weight: bold;  text-align: center;"><strong>Registrarse</strong></p>
                        <div class="md-form form-sm">
                            <i class="fas fa-envelope prefix"></i>
                            <input type="text" class="form-control" name="email">
                            <label for="inputLGEx">Correo</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fas fa-lock prefix"></i>
                            <input type="password" class="form-control" name="password">
                            <label for="inputLGEx">Contraseña</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fas fa-file-signature prefix"></i>
                            <input type="text" class="form-control" name="firstName">
                            <label for="inputLGEx">Nombres</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fas fa-file-signature prefix"></i>
                            <input type="text" class="form-control" name="lastName">
                            <label for="inputLGEx">Apellidos</label>

                        </div>
                        <div class="md-form form-sm">
                            <i class="fas fa-id-badge prefix"></i>
                            <input type="text" class="form-control" name="dni">
                            <label for="inputLGEx">DNI</label>

                        </div>
                        <div class="md-form form-sm">
                            <i class="fas fa-phone-alt prefix"></i>
                            <input type="text" class="form-control" name="phone">
                            <label for="inputLGEx">Teléfono</label>
                        </div>
                        <div class="col-md-offset-3 text-center">
                        <button type="submit" class="btn btn-deep-orange">Inicar sesion</button>
                        </div>

                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}